/* Message Box */
.message-box {
	--color-message-box: #ffc;

	display: flex;
	background-color: var(--accent-color-lighter);
	color: var(--color-gray-90);
	padding: 1em 0.625em; /* 16px 10px /16 */
}
.message-box img {
	height: 125px;
	margin-right: 15px;
}
