.message-box-categories li a[href],
.message-box-categories li a[href]:visited {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 2px var(--color-green);
	width: 200px;
	display: inline-block;
	padding: 5px;
}
nav.pagination li a[href],
nav.pagination li a[href]:visited {
	color: white;
}
.message-box {
	display: flex;
	background-color: var(--accent-color-lighter-transparent);
	border-top: 4px dotted var(--color-cream);
	border-bottom: 4px dotted var(--color-cream);
	color: black;
	padding: 1em 4em;
}

.message-box p {
	margin: 0;
	margin-bottom: auto;
	margin-top: auto;
}

.message-box img {
	height: 175px;
	margin-right: 15px;
	border-radius: var(--rounded-corner);
}

.message-box-categories {
	text-align: center;
	background-color: #caf5ff;
	padding: 15px;
	border-top: 4px dotted white;
	border-bottom: 4px dotted var(--color-cream);
}

.message-box-categories ul li {
	background-color: var(--color-tan);
	color: var(--color-blue);
	border-radius: var(--rounded-corner);
	display: inline-block;
	border: 1px solid white;
	margin: 5px;
}

#sidebar {
	width: 25%;
	min-width: 25%;
}

#sidebar .sidebar-content {
	display: flex;
	flex-direction: column;
	border-radius: var(--rounded-corner);
	padding: 1em;
	background-color: var(--accent-color-lighter-transparent);
	border: 4px dotted var(--color-cream);
	color: black;
}

#sidebar .sidebar-content img {
	width: 100%;
	border-radius: var(--rounded-corner);
	margin-bottom: 0;
}

img[title="rating_chicken11"],
img[title="rating_mushroom1"],
img[title="rating_olive1"],
img[title="rating_truffle1"],
img[title="rating_avocado1"] {
	width: 30px;
	align-self: center;
}

.message-box {
	flex-direction: column;
}

.message-box img {
	width: 75%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.postlist {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 30px;
	padding: 0;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.postlist-item {
	width: 100%;
	flex-direction: column;
	margin: auto;
	margin-top: 0;
	flex: 1;
	margin-bottom: 1em;
	background-color: var(--color-green);
	box-shadow: 1px 1px 2px 2px var(--color-green);
	border-radius: var(--rounded-corner);
}

.postlist.cities .postlist-item {
	box-shadow: none;
	background-color: inherit;

}

.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}

.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}

.postlist-item img {
	border-top-right-radius: var(--rounded-corner);
	border-top-left-radius: var(--rounded-corner);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: -5px;
	margin-left: 1px;
}

.postlist.cities .postlist-item img {
	border-top-right-radius: var(--rounded-corner);
	border-top-left-radius: 0;
	border-bottom-right-radius: var(--rounded-corner);
	border-bottom-left-radius: var(--rounded-corner);
	box-shadow: 1px 1px 2px 2px var(--color-green);
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 1px;
}

.postlist-date {
	word-spacing: -0.5px;
}

.postlist-link {
	display: block;
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	padding: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
	background-color: var(--color-green);
	border-bottom-left-radius: var(--rounded-corner);
	border-bottom-right-radius: var(--rounded-corner);
	text-align: center;
}

.postlist.cities .postlist-link {
	display: inline;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: var(--rounded-corner);
	border-top-right-radius: var(--rounded-corner);
}

.postlist-item-active .postlist-link {
	font-weight: bold;
}

a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: transparent;
}

a[href].postlist-link,
a[href].postlist-link:visited {
	color: white;
	text-decoration: none;
}

.nav-item a[href]:not(:hover) {
	text-decoration: none;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

section {
	padding-top: 2.5em;
	padding-left: 2.5em;
	padding-right: 2.5em;
	padding-bottom: 2.5em;
}

section .more-posts {
	display: block;
	margin-right: 25px;
	text-align: end;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}

.logo-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav-item {
	display: inline-block;
	margin-right: 1em;
}


/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 15px;
}
.post-metadata time {
	margin-right: 1em;
	font-style: italic;
}

.screen-reader-text {
	display: none;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}

h2 + .header-anchor {
	font-size: 1.5em;
}


nav.pagination ul li {
	background-color: transparent;
	color: white;
	border: none;
}

nav.pagination li span,
nav.pagination li a[href],
nav.pagination li a[href]:visited {
	width: auto;
}

nav.pagination li span {
	color: #00000033;
	font-weight: bold;
	font-family: "Freeman", sans-serif;
}

.links-nextprev {
	display: flex;
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

.links-nextprev li {
	flex: 1;
	margin: 10px;
	text-align: center;
}

.links-nextprev li.prev-post {
	text-align: left;
}

.links-nextprev li.next-post {
	text-align: right;
}

header a.search {
	cursor: pointer;
}


#search {
	margin: 1em;
	display: none;
}

body.search #search {
	display: block;
}
