---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 4
---
{% set postsCount = collections.posts | length %}
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}

<section>
	<h1><a href="/blog/">Latest</a></h1>
	{% include "postslist.njk" %}
</section>


{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	{% renderFile "./content/sidebars/whatsthegourmez.md" %}
</div>

<section>
	<h1><a href="/blog/">Eateries</a></h1>
	{% set postsCount = collections.posts | filterByCommonCategories(['restaurants']) | length %}
	{% set postslist = collections.posts | filterByCommonCategories(['restaurants']) | head(-1 * numberOfLatestPostsToShow) %}
	{% include "postslist.njk" %}
</section>

{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	{% renderFile "./content/sidebars/about.md" %}
</div>

<section>
<h1><a href="/blog/">Wines</a></h1>
{% set postsCount = collections.posts | filterByCommonCategories(['wine']) | length %}
{% set postslist = collections.posts | filterByCommonCategories(['wine']) | head(-1 * numberOfLatestPostsToShow) %}
{% include "postslist.njk" %}
</section>

{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	{% renderFile "./content/sidebars/categories.md" %}
</div>

<section>
<h1><a href="/blog/">Posts By City</a></h1>
{% set postsCount = collections.posts | filterByCommonCategories(['hayward-restaurant-reviews', 'oakland-restaurant-reviews', 'san-francisco-restaurant-review', 'berkeley-restaurant-review']) | length %}
{% set postslist = collections.posts | filterByCommonCategories(['hayward-restaurant-reviews', 'oakland-restaurant-reviews', 'san-francisco-restaurant-review', 'berkeley-restaurant-review']) | head(-1 * numberOfLatestPostsToShow) %}
{% include "postslist.njk" %}
</section>

{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	{% renderFile "./content/sidebars/fiction.md" %}
</div>

<section style="background: red">
· Email · Bluesky · Facebook · Instagram · Google Local Guides
</section>
