---js
{
	layout: "layouts/base.njk",
	pagination: {
		data: "collections.posts",
		alias: "postslist",
		reverse: true,
		size: 10
	},
	permalink: "{{ page.fileSlug }}/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
}
---

{% for post in postslist %}
<article class="post type-post status-publish format-standard hentry category-announcements category-events tag-foodie-picks tag-glasgow tag-worldcon">
	<h1 class="entry-title">
		<a href="{{ post.url }}" title="{{ post.data.title }}" rel="bookmark">{{ post.data.title }}</a>
	</h1>
	<h2 class="entry-meta"></h2>

	<div class="entry-content">
		{{ post.templateContent | safe }}
	</div>
</article>
{% endfor %}

<div id="pagination"><div class="total-pages">Page {{pagination.pageNumber+1}} of {{pagination.pages.length}}</div>

{% if pagination.pageNumber != 0 %}
	<a class="previous page-numbers" href="{{ pagination.href.previous }}">&laquo;</a>
{% endif %}

{% if pagination.pageNumber > 2 %}
	<a class="page-numbers" href="{{ pagination.hrefs[0] }}">1</a>
	<span class="page-numbers dots">&hellip;</span>
{% endif %}

{%- for pageEntry in pagination.pages %}
	{% if (loop.index0 - pagination.pageNumber)|abs < 2 %}
		{% if page.url == pagination.hrefs[ loop.index0 ] %}
			<span aria-current="page" class="page-numbers current">{{ loop.index }}</span>
		{% else %}
			<a class="page-numbers" href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>
		{% endif %}
	{% endif %}
{%- endfor %}

{% if pagination.pages.length - pagination.pageNumber > 2 %}
<span class="page-numbers dots">&hellip;</span>
<a class="page-numbers" href="{{ pagination.hrefs[pagination.pages.length -1] }}">{{ pagination.pages.length }}</a>
{% endif %}

{% if pagination.pageNumber != pagination.pages.length -1 %}
	<a class="next page-numbers" href="{{ pagination.href.next }}">&raquo;</a>
{% endif %}

</div>


