---
layout: layouts/base.njk
eleventyNavigation:
  key: Search
  order: 2
---

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>

<div id="page-container">
	<div id="page-content">
        <div id="search"></div>
    </div>
	<div id="sidebar">khhghg</div>
</div>

<script type="module">
    import {html, render} from '/js/lit-html.js';
    const pagefind = await import('/pagefind/pagefind.js');

    const parseSearchResults = async (items) => {
        const results = [];
        for (let c in items) {
            const expanded = await items[c].data();
            results.push({
                title: expanded.meta.title,
                url: expanded.url,
                image: expanded.meta.image,
                date: expanded.meta.date
            });
        }
        return results;
    }

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const search = await pagefind.search(urlParams.get('search'));
    const results = await parseSearchResults(search.results);

    const myTemplate = (items) => html`<h1>${urlParams.get('search')}</h1><ol class="postlist">${items.map((item) => html`<li class="postlist-item postlist-item-active">
    	<a href=${item.url}>
            <img height="200px" width="100%" src=${item.image} style="object-fit: cover; max-width:100%;" />
		</a>
        <time class="postlist-date" datetime="${item.date}">${new Date(item.date).toLocaleDateString(undefined, { year: 'numeric', month: 'long'})}</time>
        <a href=${item.url} class="postlist-link">${item.title}</a></li>` )}</ol>`;
    render(myTemplate(results), document.getElementById('page-content'));
</script>
