---
permalink: 'events/events.json'
---

{
	"posts": [
		{% for item in collections.events %}
			{
			"title": "{{ item.data.title }}",
			"url": "{{ item.url }}",
			"date": "{{ item.date.toUTCString() }}"
			}{% if not loop.last %},{% endif %}
		{% endfor %}
	]
}
