---
permalink: 'events/events.json'
---

{
	"posts": [
		{% for item in collections.events %}
			{
			"title": "{{ item.data.title }}",
			"url": "{{ item.url }}",
			"date": "{% if item.data.eventday %}{{ item.data.eventday }}T12:00:00Z{% else %}{{ item.date.toUTCString() }}{% endif %}",
			"time": "{{ item.data.time }}",
			"location": "{{ item.data.location }}",
			"city": "{{ item.data.city }}",
			"image": "{{ item.data.coverImage }}"
			}{% if not loop.last %},{% endif %}
		{% endfor %}
	]
}
