---
permalink: 'events/events.json'
---

{
	"posts": [
		{% for item in collections.events %}
			{
			"title": "{{ item.data.title }}",
			"url": "{{ item.url }}",
			"date": "{{ item.date.toUTCString() }}",
			"time": "{{ item.data.time }}",
			"location": "{{ item.data.location }}",
			"city": "{{ item.data.city }}"
			}{% if not loop.last %},{% endif %}
		{% endfor %}
	]
}
