---
title: "About"
layout: layouts/page.njk
---

<template>
	Design similar to https://ta-nehisicoates.com/about/
	Make the Selected Interviews band as described below
	Place the 75-word bio text as a quote or inset text

	Left-aligned photograph:
</template>


<div class="split-view">
		<img src="https://d602mxa74hbsi.cloudfront.net/Regulator2.jpg"/>
	<div>

		<h1>Biography</h1>

		Hello there! I'm Rebecca Gomez Farrell, or just Becca when I'm not feeling all fancy and author-ly. In addition to the occasional essay and creative nonfiction piece, most of my work is some combination of the following genres: fantasy, horror, science fiction, humor, and romance.
		I live in California’s East Bay with my tech wizard husband and three feline co-workers. My Wings Rising epic fantasy duology is published by Meerkat Press, and my shorter works have appeared over thirty times in magazines, websites, and anthologies including Beneath Ceaseless Skies, It Calls From the Sky, PULP Literature, and A Quiet Afternoon 1 & 2. Am I working on new books and short stories? Yes, yes, I am!
I'm also quite passionate about the value of community for writers! In the past, I've been the communications director for the Science Fiction and Fantasy Writers Association (SFWA) and still volunteer for [SFWA](https://sfwa.org) in a few capacities. I've also helmed a local chapter of the national [Women Who Submit Lit]( https://womenwhosubmitlit.org/) organization, which encourages all writers who identify as women and/or nonbinary to submit their work out for publication. And I co-organized the [East Bay Science Fiction and Fantasy Writers Meetup Group]( https://www.meetup.com/east-bay-science-fiction-and-fantasy-writers/) for several years. I still administer discussion groups for women, nonbinary, and Bay Area writers.
Since 2007, my food, drink, and travel blog, _theGourmez.com_, has influenced every tasty bite of my fictional worldbuilding. My replicator order, for the record, is "Absinthe verte, one cube." Fun Fact: I blogged about the soap opera, General Hospital, for years, and also used to publish commentary on other television shows for Eye on Soaps, one of the late, great entertainment websites of the '90s and '00s.
Below, you can find more useful information about me and my work, including my current press kit (I'm making a more comprehensive one, I swear!), my social media accounts, and some of my past interviews.


		<h1>Contact</h1>

		Email is the best way to reach me: <a href="mailto:becca@gomezfarrell.com">becca@gomezfarrell.com</a>.

		You can also find me at the following social media platforms, but I am slow to respond to direct messages.

		<ul>
			<li><a href="https://bsky.app/profile/becca.gomezfarrell.com">Bluesky</a></li>
			<li><a href="https://www.facebook.com/thegourmez">Facebook</a></li>
			<li><a href="https://www.instagram.com/thegourmez">Instagram</a></li>
		</ul>

		<h1>Press Kit</h1>

		I’m currently updating my press kits. In the meantime, please use the following headshots and biography for event promotion.

		(Include small versions of these photos, linking to the full size for downloads:

<p>
</p>
		https://d602mxa74hbsi.cloudfront.net/R+Gomez+Farrell+headshot.jpg

		https://d602mxa74hbsi.cloudfront.net/R+Gomez+Farrell+BW.jpg

		https://d602mxa74hbsi.cloudfront.net/headshot+2+small.jpg

		https://d602mxa74hbsi.cloudfront.net/headshot+3.jpg


		75-word biography. Please contact me if you would like a shorter or longer version:

		Rebecca Gomez Farrell's *Wings Rising* epic fantasy duology is published by Meerkat Press. Her shorter speculative fiction works have appeared over thirty times in outlets such as *Beneath Ceaseless Skies, PULP Literature,* and *A Quiet Afternoon 1 & 2.* She has run multiple writer critique and support groups over the years, and is a former Communications Director for the Science Fiction and Fantasy Writers Association.

		Becca also blogs about food &amp; drink at <a href="https://thegourmez.com">the Gourmez</a>.

		<h1>Selected Interviews</h1>

		The following are a few of the interviews and guest posts I've done over the years. For the full list, as well as accolades I've received for fiction and nonfiction writing, visit <a href="./media-mentions/">media mentions</a>. Individual posts can be found <a href="./interviews/">here</a> (link to a search of all posts categorized as "interviews" "blog-tour" "guest-post").

		(Design carousel of posts similar to the Events boxes:

		<ul class="interviews">
			{% for post in collections['interviews'] | head(-5, true) %}
			<li>
				<img src="{{ post.data.coverImage }}" />
				<h3>{{ post.data.title }}</h3>
				<h4>{{ post.data.publication }}</h4>
				<p><a href="{{ post.url }}">More info...</a></p>
			</li>
			{% endfor %}
		</ul>


		Use "coverImage" to generate the image for each item, and have it L-align in the box.
		Give the "title"
		Give the "publication"
		No date
		Show in reverse chronologic order
	</div>
</div>
