---
title: "About"
layout: layouts/page.njk
---

<template>
	Design similar to https://ta-nehisicoates.com/about/
	Make the Selected Interviews band as described below
	Place the 75-word bio text as a quote or inset text

	Left-aligned photograph:
</template>

<div class="split-view">
	<img src="https://d602mxa74hbsi.cloudfront.net/Regulator2.jpg"/>

	<div>
		Regulator 2

		<h1>Biography</h1>

		Leave room for text

		<h1>Contact</h1>

		Email is the best way to reach me: <a href="mailto:becca@gomezfarrell.com">becca@gomezfarrell.com</a>.

		You can also find me at the following social media platforms, but I am slow to respond to direct messages.

		<ul>
			<li><a href="https://bsky.app/profile/becca.gomezfarrell.com">Bluesky</a></li>
			<li><a href="https://www.facebook.com/thegourmez">Facebook</a></li>
			<li><a href="https://www.instagram.com/thegourmez">Instagram</a></li>
		</ul>

		<h1>Press Kit</h1>

		I’m currently updating my press kits. In the meantime, please use the following headshots and biography for event promotion.

		(Include small versions of these photos, linking to the full size for downloads:

		R Gomez Farrell headshot

		R Gomez Farrell bw

		Headshot 2 (find larger version)

		Headshot 3

		75-word biography. Please contact me if you would like a shorter or longer version:

		Rebecca Gomez Farrell's *Wings Rising* epic fantasy duology is published by Meerkat Press. Her shorter speculative fiction works have appeared over thirty times in outlets such as *Beneath Ceaseless Skies, PULP Literature,* and *A Quiet Afternoon 1 & 2.* She has run multiple writer critique and support groups over the years, and is a former Communications Director for the Science Fiction and Fantasy Writers Association.

		Becca also blogs about food &amp; drink at <a href="https://thegourmez.com">the Gourmez</a>.

		<h1>Selected Interviews &amp; Guest Posts</h1>

		The following are a few of the interviews and guest posts I've done over the years. For the full list, as well as accolades I've received for fiction and nonfiction writing, visit <a href="./media-mentions/">media mentions</a>. Individual posts can be found <a href="./interviews/">here</a> (link to a search of all posts categorized as "interviews" "blog-tour" "guest-post").

		(Design carousel of posts similar to the Events boxes:

		<ul class="interviews">
			{% for post in collections['interviews'] | head(-5, true) %}
			<li>
				<img src="{{ post.data.coverImage }}" />
				<h3>{{ post.data.title }}</h3>
				<h4>{{ post.data.publication }}</h4>
				<p><a href="{{ post.url }}">More info...</a></p>
			</li>
			{% endfor %}
		</ul>


		Use "coverImage" to generate the image for each item, and have it L-align in the box.
		Give the "title"
		Give the "publication"
		No date
		Show in reverse chronologic order
	</div>
</div>
