---
title: "About"
layout: layouts/page.njk
---

<h1 class="section-header">About Me</h1>

<div class="split-view">
	<img style="margin-top: 1.3em" width="500" src="https://d602mxa74hbsi.cloudfront.net/Regulator2.jpg"/>
	<div>
		<p class="about-text">
			Hello there! I'm Rebecca Gomez Farrell,
			or just Becca when I'm not all fancy and author-ly. In addition to the occasional essay and creative nonfiction piece,
			most of my work is some combination of the following genres: fantasy, horror,
			science fiction, humor, and romance.
		</p>
		<p class="about-text">
			I live in California’s East Bay with my tech wizard husband and three feline co-workers.
			My <span class="italics">Wings Rising</span> epic fantasy duology is published by Meerkat Press, and my shorter works have appeared over
			thirty times in magazines, websites, and anthologies including <strong>Beneath Ceaseless Skies</strong>,
			<strong>It Calls From the Sky</strong>, <strong>PULP Literature</strong>, and <strong>A Quiet Afternoon 1 &amp; 2</strong>.
			Am I working on new books and short stories? Yes, yes, I am!
		</p>
	</div>
</div>

<p class="about-text">
	I'm also quite passionate about writer communities. In the past, I've been the communications director for the Science Fiction and Fantasy Writers
	Association (SFWA) and still volunteer for <a href="https://sfwa.org">SFWA</a> in a few capacities.
	I also helmed a local chapter of the national <a href="https://womenwhosubmitlit.org">Women Who Submit Lit</a>
	organization, which encourages all writers who identify as women and/or nonbinary to
	submit their work out for publication. And I co-organized the
	<a href="https://www.meetup.com/east-bay-science-fiction-and-fantasy-writers">East Bay Science Fiction and Fantasy Writers Meetup Group</a>
	for several years. I still administer discussion groups for women, nonbinary, and Bay Area writers.
</p>
<p class="about-text">
	Since 2007, my food, drink, and travel blog, <a href="https://thegourmez.com">the Gourmez</a>,
	has influenced every tasty bite of my fictional worldbuilding. My replicator order, for the record,
	is "Absinthe verte, one cube." <strong>Fun Fact:</strong> I blogged about the soap opera, <span class="italics">General Hospital</span>, for years,
	and also used to publish commentary on other television shows for <span class="italics">Eye on Soaps</span>, one of the late,
	great entertainment websites of the '90s and '00s.
</p>
<p class="about-text">
	Below, you can find more useful information about me and my work, including my current press kit
	(okay, that's still in progress), my short biography for promo, my social media accounts, and some of my past interviews.
</p>


<h1 class="section-header">Contact</h1>

<p class="about-text">
	Email is the best way to reach me: <a href="mailto:becca@gomezfarrell.com">becca@gomezfarrell.com</a>.
</p>

<p class="about-text">
	You can also find me at the following social media platforms, but I am slow to respond to direct messages:
</p>

<ul class="social-media-row">
	<li><a href="https://www.facebook.com/thegourmez"><img class="social-icon" width="48" height="44" src="/img/svg/facebook.svg"/><span class="screen-reader-text">Facebook</span></a></li>
	<li><a href="https://www.instagram.com/thegourmez/"><img class="social-icon" width="48" height="44" src="/img/svg/instagram.svg"/><span class="screen-reader-text">Instagram</span></a></li>
	<li><a href="https://bsky.app/profile/becca.gomezfarrell.com"><img class="social-icon"  width="48" height="44" src="/img/svg/bluesky.svg"/><span class="screen-reader-text">Bluesky</span></a></li>
</ul>

<h1 class="section-header">Press Kit</h1>

<p class="about-text">
	I’m currently updating my press kit. In the meantime, please use the following headshots and
	biography for event promotion.
</p>

<div class="headshot-container">
	<a href="https://d602mxa74hbsi.cloudfront.net/R+Gomez+Farrell+headshot.jpg">
		<img src="https://d602mxa74hbsi.cloudfront.net/R+Gomez+Farrell+headshot.jpg" width="150" />
	</a>

	<a href="https://d602mxa74hbsi.cloudfront.net/R+Gomez+Farrell+BW.jpg">
		<img src="https://d602mxa74hbsi.cloudfront.net/R+Gomez+Farrell+BW.jpg" width="150" />
	</a>

	<a href="https://d602mxa74hbsi.cloudfront.net/headshot+2+small.jpg">
		<img src="https://d602mxa74hbsi.cloudfront.net/headshot+2+small.jpg" width="150" />
	</a>

	<a href="https://d602mxa74hbsi.cloudfront.net/headshot+3.jpg">
		<img src="https://d602mxa74hbsi.cloudfront.net/headshot+3.jpg" width="150" />
	</a>
</div>

<p class="about-text">
<strong>75-Word Biography:</strong>
<blockquote>Rebecca Gomez Farrell's *Wings Rising* epic fantasy duology is published by Meerkat Press.
	Her shorter speculative fiction works have appeared over thirty times in outlets such as
	<strong>Beneath Ceaseless Skies, PULP Literature,</strong> and <strong>A Quiet Afternoon 1 &amp; 2.</strong> She has run multiple
	writer critique and support groups over the years, and is a former Communications Director for the
	Science Fiction and Fantasy Writers Association. Becca also blogs about food &amp; drink at <a href="https://thegourmez.com">The Gourmez.com</a>.</blockquote>
</p>

<p class="about-text">
Please contact me if you would like a shorter or longer version of my biography. I have several!
</p>

<h1 class="section-header">Selected Interviews</h1>

<p class="about-text">
	Here are a few of the interviews and guest posts I've done over the years.
	For the full list, as well as accolades I've received for fiction and nonfiction writing,
	visit <a href="./media-mentions/">media mentions</a>.
</p>

<ul class="image-item ltr">
	{% for post in collections['interviews'] | head(-5, true) %}
	<li>
		<img src="{{ post.data.coverImage }}" />
		<div class="info">
			<h3>{{ post.data.title }}</h3>
			<h4>{{ post.data.publication }}</h4>
			<p><a href="{{ post.url }}">More info...</a></p>
		</div>
	</li>
	{% endfor %}
</ul>
