---
title: "Non-fiction"
layout: layouts/page.njk
---

Correct page title to "Nonfiction" with no hyphen

Design similar to https://joeabercrombie.com/books/
Use "coverImage" to generate the image for each item.
Centered below the image, give the "title"
Centered below the title, give the "publication"
No dates given for nonfiction writing


<h1>Writing Advice</h1>

In a carousel, show featured images on most recent posts categorized as "writing-thoughts." Fit 4-5 on the page and then include a "see more" link to a page that links to a search of all posts with that category.

<ul>
{% for post in collections["writing-thoughts"] | head(-5, true) %}
<li>
	<h2>{{ post.date | readableDate }}</h2>
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
</li>
{% endfor %}
</ul>

<p><a href="./writing-thoughts/">See more...</a></p>

<h1>Food, Drink, &amp; Travel Writing</h1>

	Copy: Follow my savory and sweet adventures at my blog, <a href="https://thegourmez.com">The Gourmez</a>.

One image of The Gourmez logo, linking to website.

<h1>Essays</h1>

In a carousel, show featured images on most recent posts categorized as "television" and/or "essays". Fit 4-5 on the page and then include a "see more" link to a search of all posts with that category.

<ul>
{% for post in collections.essays | head(-5, true) %}
<li>
	<h2>{{ post.date | readableDate }}</h2>
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
</li>
{% endfor %}
</ul>

<p><a href="./essays/">See more...</a></p>

<h1>Reviews</h1>

In a carousel, show featured images on most recent posts categorized as "reviews". Fit 4-5 on the page and then include a "see more" link to a search of all posts with that category.

<ul>
{% for post in collections.reviews | head(-5, true) %}
<li>
	<h2>{{ post.date | readableDate }}</h2>
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
</li>
{% endfor %}
</ul>

<p><a href="./reviews/">See more...</a></p>


<h1>Miscellaneous</h1>

In a carousel, show featured images on most recent posts categorized as "misc". Fit 4-5 on the page and then include a "see more" link to a search of all posts with that category.

Note: Becca needs to add posts for GH Fan Club books

<ul>
{% for post in collections.misc | head(-5, true) %}
<li>
	<h2>{{ post.date | readableDate }}</h2>
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
</li>
{% endfor %}
</ul>

<p><a href="./misc/">See more...</a></p>

<h1>Blog Archive</h1>

Copy: Because the Internet is forever, you can also find my archive of past publication news and other announcements here.

In a carousel, show featured images on most recent posts categorized as "announcements" or "publication-news" or "blog-tour". Fit 4-5 on the page and then include a "see more" link to a search of all posts with that category.

<ul>
{% for post in collections.archive | head(-5, true) %}
<li>
	<h2>{{ post.date | readableDate }}</h2>
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
</li>
{% endfor %}
</ul>

<p><a href="./archive/">See more...</a></p>
