---
title: "Non-fiction"
layout: layouts/books.njk
---

<h1>Writing Advice</h1>

<ul class="books">
{% for post in collections['writing-thoughts'] | head(-5, true) %}
<li>
	<img src="{{ post.data.coverImage }}" />
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
	<h3>{{ post.data.publication }}</h3>
</li>
{% endfor %}
</ul>

<p><a href="./writing-thoughts/">See more...</a></p>

<img width="125" class="feather-separator" src="/img/svg/feathers.svg" />

<h1>Food, Drink, &amp; Travel Writing</h1>

<p>
Follow my savory and sweet adventures at my blog, <a href="https://thegourmez.com">The Gourmez</a>. You will find my older review clippings in the review section below.

One image of The Gourmez logo, linking to website.
</p>


<img width="125" class="feather-separator" src="/img/svg/feathers.svg" />

<h1>Essays</h1>

<ul class="books">
{% for post in collections['essays'] | head(-5, true) %}
<li>
	<img src="{{ post.data.coverImage }}" />
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
	<h3>{{ post.data.publication }}</h3>
</li>
{% endfor %}
</ul>

<p><a href="./essays/">See more...</a></p>

<img width="125" class="feather-separator" src="/img/svg/feathers.svg" />

<h1>Reviews</h1>

<ul class="books">
{% for post in collections['reviews'] | head(-5, true) %}
<li>
	<img src="{{ post.data.coverImage }}" />
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
	<h3>{{ post.data.publication }}</h3>
</li>
{% endfor %}
</ul>

<p><a href="./reviews/">See more...</a></p>

<img width="125" class="feather-separator" src="/img/svg/feathers.svg" />

<h1>Miscellaneous</h1>

<ul class="books">
{% for post in collections['misc'] | head(-5, true) %}
<li>
	<img src="{{ post.data.coverImage }}" />
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
	<h3>{{ post.data.publication }}</h3>
</li>
{% endfor %}
</ul>

<p><a href="./misc/">See more...</a></p>

<img width="125" class="feather-separator" src="/img/svg/feathers.svg" />

<h1>Blog Archive</h1>

<p>Because the Internet is forever, you can also find my archive of past publication news and other announcements here.</p>

<ul class="books">
{% for post in collections['archive'] | head(-5, true) %}
<li>
	<img src="{{ post.data.coverImage }}" />
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
	<h3>{{ post.data.publication }}</h3>
</li>
{% endfor %}
</ul>

<p><a href="./archive/">See more...</a></p>
