
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Rebecca Gomez Farrell - Writer of Fictions and Strong Leisure-Time Opinions</title>
	<link rel="profile" href="https://gmpg.org/xfn/11"/>
	<link rel="pingback" href="https://rebeccagomezfarrell.com/xmlrpc.php"/>
	<meta name='robots' content='max-image-preview:large'/>

	<meta name="description" content="Writer of Fictions and Strong Leisure-Time Opinions"/>
	<link rel="canonical" href="https://rebeccagomezfarrell.com/"/>
	<link rel="next" href="https://rebeccagomezfarrell.com/page/2/"/>
	<meta property="og:locale" content="en_US"/>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Rebecca Gomez Farrell - Writer of Fictions and Strong Leisure-Time Opinions"/>
	<meta property="og:description" content="Writer of Fictions and Strong Leisure-Time Opinions"/>
	<meta property="og:url" content="https://rebeccagomezfarrell.com/"/>
	<meta property="og:site_name" content="Rebecca Gomez Farrell"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:description" content="Writer of Fictions and Strong Leisure-Time Opinions"/>
	<meta name="twitter:title" content="Rebecca Gomez Farrell - Writer of Fictions and Strong Leisure-Time Opinions"/>
	<script type='application/ld+json'>{"@context":"https://schema.org","@type":"WebSite","@id":"https://rebeccagomezfarrell.com/#website","url":"https://rebeccagomezfarrell.com/","name":"Rebecca Gomez Farrell","potentialAction":{"@type":"SearchAction","target":"https://rebeccagomezfarrell.com/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>

	<link rel='dns-prefetch' href='//fonts.googleapis.com'/>
	<link rel='dns-prefetch' href='//s.w.org'/>
	<link rel="alternate" type="application/rss+xml" title="Rebecca Gomez Farrell &raquo; Feed" href="https://rebeccagomezfarrell.com/feed/"/>
	<link rel="alternate" type="application/rss+xml" title="Rebecca Gomez Farrell &raquo; Comments Feed" href="https://rebeccagomezfarrell.com/comments/feed/"/>
	<link rel='stylesheet' id='otw_grid_manager-css' href='/css/otw-grid.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='general_foundicons-css' href='/css/general_foundicons.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='social_foundicons-css' href='/css/social_foundicons.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='otw_shortocde-css' href='/css/otw_shortcode.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='tt-easy-google-fonts-css' href='https://fonts.googleapis.com/css?family=Rubik%3Aregular%2C600&#038;subset=latin%2Call&#038;ver=6.0.9' type='text/css' media='all'/>
	<link rel='stylesheet' id='theme_stylesheet-css' href='/css/style.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='google_fonts-css' href='https://fonts.googleapis.com/css?family=Lato:300,900|Russo+One' type='text/css' media='all'/>
	<link rel='stylesheet' id='recent-posts-widget-with-thumbnails-public-style-css' href='/css/public.css' type='text/css' media='all'/>
	<link rel='stylesheet' id='RecipeIndexStyleSheets-css' href='/css/visual-recipe-style.css' type='text/css' media='all'/>
	<link rel="https://api.w.org/" href="https://rebeccagomezfarrell.com/wp-json/"/><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://rebeccagomezfarrell.com/xmlrpc.php?rsd"/>
	<meta name="generator" content="WordPress 6.0.9"/>
	<style>.post-meta a,.post-content a,.widget</style>
	<style type="text/css">.broken_link,a.broken_link{text-decoration:line-through}</style><style type="text/css" id="custom-background-css">body.custom-background{background-image:url(/images/solid.png);background-position:left top;background-size:auto;background-repeat:repeat;background-attachment:scroll}</style>
	<style type="text/css" id="wp-custom-css">.header-widget{float:none}.entry-content{background-color:rgba(255,255,255,.3);padding:10px}li,blockquote{text-shadow:none;font-family:'Rubik';color:#000;font-size:14px}li{margin-top:10px}</style>
	<style id="tt-easy-google-font-styles" type="text/css">p{font-family:'Rubik';font-style:normal;font-weight:400}h1{font-family:'Rubik';font-style:normal;font-weight:600}h2{font-family:'Rubik';font-style:normal;font-weight:600}h3{}h4{}h5{}h6{}body{color:#0c0c0c!important;font-family:'Rubik'!important;font-size:16px!important;font-style:normal!important;font-weight:400!important}</style>
</head>

<body data-rsssl="1" class="home blog custom-background">

<div id="page" class="grid ">

	<header id="header" class="row" role="banner">

		<div class="c12">
			<div id="mobile-menu">
				<a href="#" class="left-menu"><i class="icon-reorder"></i></a>
				<a href="#"><i class="icon-search"></i></a>
			</div>
			<div id="drop-down-search"><form role="search" method="get" class="search-form" action="https://rebeccagomezfarrell.com/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s"/>
				</label>
				<input type="submit" class="search-submit" value="Search"/>
			</form></div>

			<div class="header-wrap">
				<h1 id="site-title"><a href="https://rebeccagomezfarrell.com/" title="Rebecca Gomez Farrell" rel="home">Rebecca Gomez Farrell</a></h1>
			</div>

			<a href="https://rebeccagomezfarrell.com" title="Rebecca Gomez Farrell" rel="home">
				<img id="header-img" src="https://d2ypg8o05lff0b.cloudfront.net/wp-content/uploads/sites/3/2022/11/19044405/2022-RGF-Website-Header.jpg" width="1280" height="288" alt=""/>
			</a>

			<nav id="site-navigation" role="navigation">
				<h3 class="screen-reader-text">Main menu</h3>
				<a class="screen-reader-text" href="#primary" title="Skip to content">Skip to content</a>
				<ul id="menu-menu-1" class="menu"><li id="menu-item-12061" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children sub-menu-parent menu-item-12061"><a href="/about/">Who am I?</a>
					<ul class="sub-menu">
						<li id="menu-item-12062" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12062"><a href="/about/media-mentions/">Accolades + Media Mentions</a></li>
						<li id="menu-item-12063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children sub-menu-parent menu-item-12063"><a href="/about/where-else-i-write/">Where Else I Write</a>
							<ul class="sub-menu">
								<li id="menu-item-12064" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12064"><a href="/about/where-else-i-write/carpe-durham/">Carpe Durham</a></li>
								<li id="menu-item-12065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12065"><a href="/about/where-else-i-write/localwise/">Localwise</a></li>
								<li id="menu-item-12066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12066"><a href="/about/where-else-i-write/whats-on-tap/">What’s on Tap</a></li>
								<li id="menu-item-12067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children sub-menu-parent menu-item-12067"><a href="/about/where-else-i-write/all-my-writers/">All My Writers</a>
									<ul class="sub-menu">
										<li id="menu-item-12068" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12068"><a href="/about/where-else-i-write/all-my-writers/the-doctors-order/">The Doctor’s Order</a></li>
										<li id="menu-item-12069" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12069"><a href="/about/where-else-i-write/all-my-writers/pursued-by-primetime/">Pursued by Primetime</a></li>
										<li id="menu-item-12070" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12070"><a href="/about/where-else-i-write/all-my-writers/the-glee-full-gab/">The Glee-Full Gab</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
					<li id="menu-item-12071" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children sub-menu-parent menu-item-12071"><a href="/creative-works/">Creative</a>
						<ul class="sub-menu">
							<li id="menu-item-16727" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-16727"><a href="/blog/2021-03-30-wings-unfurled-meerkat-press-2022/">Wings Unfurled (COMING 2022!)</a></li>
							<li id="menu-item-12076" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12076"><a href="/creative-works/wings-unseen/">Wings Unseen</a></li>
							<li id="menu-item-16764" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16764"><a href="/creative-works/you-understand/">You Understand</a></li>
							<li id="menu-item-16853" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16853"><a href="/creative-works/the-circle-broken-pushing-daisies-leaves-room-for-pie/">The Circle Broken: Pushing Daisies Leaves Room for Pie</a></li>
							<li id="menu-item-16726" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16726"><a href="/creative-works/fresh-catch-day/">Fresh Catch of the Day</a></li>
							<li id="menu-item-12089" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12089"><a href="/creative-works/she-could-be-me/">She Could Be Me</a></li>
							<li id="menu-item-16465" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16465"><a href="/creative-works/submission-caws/">Submission Caws</a></li>
							<li id="menu-item-16630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16630"><a href="/creative-works/its-only-vampire-horror/">It’s Only Vampire</a></li>
							<li id="menu-item-12075" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12075"><a href="/creative-works/thlush-a-lum/">Thlush-a-Lum</a></li>
							<li id="menu-item-16466" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16466"><a href="/creative-works/hobgoblin/">Hobgoblin</a></li>
							<li id="menu-item-16535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16535"><a href="/creative-works/an-inconvenient-quest/">An Inconvenient Quest</a></li>
							<li id="menu-item-16536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16536"><a href="/creative-works/some-who-wander/">Some Who Wander</a></li>
							<li id="menu-item-12082" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12082"><a href="/creative-works/what-scattered-in-the-wind/">What Scattered in the Wind</a></li>
							<li id="menu-item-16499" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16499"><a href="/creative-works/wishing-for-more/">Wishing for More</a></li>
							<li id="menu-item-12078" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12078"><a href="/creative-works/treasure/">Treasure</a></li>
							<li id="menu-item-12072" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12072"><a href="/creative-works/a-holiday-invasion-trilogy/">A Holiday Invasion Trilogy</a></li>
							<li id="menu-item-12079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12079"><a href="/creative-works/garbage/">Garbage</a></li>
							<li id="menu-item-12084" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12084"><a href="/creative-works/good-genes/">Good Genes</a></li>
							<li id="menu-item-12073" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12073"><a href="/creative-works/ad-astra-the-50th-anniversary-sfwa-cookbook/">Ad Astra: The 50th Anniversary SFWA Cookbook</a></li>
							<li id="menu-item-12074" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12074"><a href="/creative-works/mixed-signals-or-learning-how-to-speak/">Mixed Signals, or, Learning How to Speak</a></li>
							<li id="menu-item-12077" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12077"><a href="/creative-works/blow-em-down-upcoming/">Blow ‘Em Down</a></li>
							<li id="menu-item-12081" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12081"><a href="/creative-works/treasures-in-cardboard-boxes/">Treasures in Cardboard Boxes</a></li>
							<li id="menu-item-12083" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12083"><a href="/creative-works/donated-to-the-cause/">Donated to the Cause</a></li>
							<li id="menu-item-12085" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12085"><a href="/creative-works/bother/">Bother</a></li>
							<li id="menu-item-12086" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12086"><a href="/creative-works/mayas-vacation/">Maya’s Vacation</a></li>
							<li id="menu-item-12087" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12087"><a href="/creative-works/apocalypse/">Apocalypse</a></li>
							<li id="menu-item-12090" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12090"><a href="/creative-works/i-wish-i-were-a-packrat/">I Wish I Were A Packrat</a></li>
							<li id="menu-item-12088" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12088"><a href="/creative-works/the-trickster/">The Trickster</a></li>
							<li id="menu-item-12091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12091"><a href="/creative-works/last-complaint/">Last Complaint</a></li>
						</ul>
					</li>
					<li id="menu-item-12102" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12102"><a href="http://thegourmez.com">The Gourmez&#8217;s Food Drink and Travel</a></li>
					<li id="menu-item-16602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16602"><a href="/wwsl/">Women Who Submit Lit Resources</a></li>
				</ul>
			</nav><!-- #site-navigation -->

		</div><!-- .c12 -->

	</header><!-- #header .row -->


	<main id="main" class="row">
		<div id="left-nav"></div>
		<div id="primary" class="c9">
			{{ content | safe }}
		</div><!-- #primary.c8 -->

		<div id="secondary" class="c3 end" role="complementary">

			<div id="sidebar-one">

				<aside id="search-2" class="widget widget_search">
					<form role="search" method="get" class="search-form" action="/search/">
						<label>
							<span class="screen-reader-text">Search for:</span>
							<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="q"/>
						</label>
						<input type="submit" class="search-submit" value="Search"/>
					</form>
				</aside><aside id="custom_html-6" class="widget_text widget widget_custom_html"><h3 class="widget-title">Choose Your Vendor</h3><div class="textwidget custom-html-widget"><img src="https://d2ypg8o05lff0b.cloudfront.net/wp-content/uploads/sites/3/2022/07/25060236/image001.png" />

				<a target="_blank" href="https://bookshop.org/p/books/wings-unfurled-rebecca-gomez-farrell/18998266?" rel="noopener">Bookshop.org</a>
				<br/>
				<a target="_blank" href="https://www.barnesandnoble.com/w/wings-unfurled-rebecca-gomez-farrell/1142462183?ean=9781946154644" rel="noopener">Barnes & Noble</a>
				<br/>
				<a target="_blank" href="https://meerkatpress.com/books/wings-unfurled/" rel="noopener">Meerkat Press</a>
				<br/>
				<a target="_blank" href="https://www.amazon.com/dp/B0BHJLYHWF" rel="noopener">Amazon</a>
				<br/>
				<a target="_blank" href="https://books.apple.com/book/id6443885149?ign-itscg=30200" rel="noopener">Apple Books</a>
				<br/>
				<a target="_blank" href="https://www.kobo.com/us/en/ebook/wings-unfurled?utm_medium=Affiliate&utm_campaign=Author+Media&utm_term=&ranMID=37217&ranEAID=W1PQs9y%2F1%2Fc&ranSiteID=W1PQs9y_1_c-NA55YTZEBPSHo8DIxuWn3g&siteID=W1PQs9y_1_c-NA55YTZEBPSHo8DIxuWn3g" rel="noopener">Kobo</a></div></aside><aside id="custom_html-5" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><!-- Begin Mailchimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
				<style type="text/css">#mc_embed_signup{background:#fff;clear:left;font:14px Helvetica,Arial,sans-serif}</style>
				<div id="mc_embed_signup">
					<form action="https://rebeccagomezfarrell.us9.list-manage.com/subscribe/post?u=93d9e5c66fa0eb63dc1bfcee9&amp;id=398d973aba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<label for="mce-EMAIL">Be first to know what I'm publishing next!<br> Join my email list.</label>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_93d9e5c66fa0eb63dc1bfcee9_398d973aba" tabindex="-1" value=""></div>
							<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
					</form>
				</div>

				<!--End mc_embed_signup--></div></aside><aside id="media_image-3" class="widget widget_media_image"><a href="https://sfwa.org"><img width="1230" height="1298" src="https://d2ypg8o05lff0b.cloudfront.net/wp-content/uploads/sites/3/2022/11/19032606/SFWA-2022-Logo-Square.png" class="image wp-image-16776  attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;"/></a></aside>
				<aside id="recent-posts-2" class="widget widget_recent_entries">
					<h3 class="widget-title">Recent Posts</h3>
					<ul>
						{% set numberOfLatestPostsToShow = 5 %}
						{% set postslist = (collections.posts | head(-1 * numberOfLatestPostsToShow)).reverse() %}

						{% for post in postslist %}
						<li>
							<a href="{{ post.url }}">{{ post.data.title }}</a>
						</li>
						{% endfor %}
					</ul>

				</aside>
			</div><!-- #sidebar-one -->

		</div><!-- #secondary.widget-area -->

	</main> <!-- #main.row -->

</div> <!-- #page.grid -->
<footer id="footer" role="contentinfo">

	<div id="footer-content" class="grid ">

		<div class="row">

			<p class="copyright c12">
				<span class="fl">Copyright &copy; 2024 <a href="https://rebeccagomezfarrell.com/">Rebecca Gomez Farrell</a>. All Rights Reserved.</span>
			</p><!-- .c12 -->

		</div><!-- .row -->

	</div><!-- #footer-content.grid -->

</footer><!-- #footer -->
</body>
</html>
