---
layout: layouts/base.njk
---

<div id="container" class="row">
<div id="primary" class="large-7 medium-9 small-11 small-centered columns">
	<article class="articlebox post-1505 page type-page status-publish hentry">
		<header class="entry-header entry-header-single">
			<h1 class="entry-title">{{ title }}</h1>
		</header>
		<div class="entry-content">
			{{ content | safe }}
		</div><!-- .entry-content -->
	</article>
</div><!-- #primary -->

</div>
