---
layout: layouts/base.njk
---

<div id="container" class="row">
	<div id="primary" class="large-7 medium-9 small-11 small-centered columns">
		<article class="articlebox post-1505 page type-page status-publish hentry">
			<header class="entry-header entry-header-single">
				<h1 class="entry-title">{{ title }}</h1>
				<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
			</header>
			<div class="entry-content">
				{{ content | safe }}
			</div><!-- .entry-content -->
		</article>

		{%- if collections.posts %}
		{%- set previousPost = collections.posts | getPreviousCollectionItem %}
		{%- set nextPost = collections.posts | getNextCollectionItem %}
		{%- if nextPost or previousPost %}
		<ul class="links-nextprev">
			{%- if previousPost %}<li class="prev-post">&lt&lt;&nbsp;<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
			{%- if nextPost %}<li class="next-post"><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>&nbsp;&gt;&gt</li>{% endif %}
		</ul>
		{%- endif %}
		{%- endif %}
	</div><!-- #primary -->

</div>
