---
layout: layouts/base.njk
---

<div id="page-container">
	<div id="page-content">
		<h1>{{ title }}</h1>

		<ul class="post-metadata">
			<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
		</ul>

		<article data-pagefind-body>
			<ul style="display:none">
				<li data-pagefind-sort="date">{{ page.date | htmlDateString }}</li>
				{%- for tag in tags | filterTagList %}
				<li data-pagefind-meta="tag">{{ tag }}</li>
				{%- endfor %}

				{%- for category in categories | filterCategoryList %}
				<li data-pagefind-meta="category">{{ category }}</li>
				{%- endfor %}
				<li data-pagefind-meta="title" style="display:none">{{ title }}</li>
				<li><time data-pagefind-meta="date:{{ page.date | htmlDateString }}" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
			</ul>

		{{ content | safe }}
		</article>

		{%- if collections.posts %}
		{%- set previousPost = collections.posts | getPreviousCollectionItem %}
		{%- set nextPost = collections.posts | getNextCollectionItem %}
		{%- if nextPost or previousPost %}
		<ul class="links-nextprev">
			{%- if previousPost %}<li class="prev-post">&lt&lt;&nbsp;<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
			{%- if nextPost %}<li class="next-post"><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>&nbsp;&gt;&gt</li>{% endif %}
		</ul>
		{%- endif %}
		{%- endif %}
	</div>
	<div id="sidebar">
		<div class="sidebar-content">
			{%- set sideBarToRender = categories | sidebarSelector %}
			{% renderFile "./content/sidebars/" + sideBarToRender + ".md" %}
		</div>
	</div>
</div>
