---
title: "Fiction"
layout: layouts/page.njk
---

Design similar to https://joeabercrombie.com/books/
Show title below each cover image. FOr Short Stories and Anthologies, include the title, and then the publication, no date

<h1>Books</h1>

<ul>
{% for post in collections.books | head(-5, true) %}
<li>
	<h2>{{ post.date | readableDate }}</h2>
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
</li>
{% endfor %}
</ul>

<p><a href="./books/">See more...</a></p>

In a carousel, show featured images on most recent posts categorized as "books". Fit 4-5 on the page and then include a "see more" link to a page that links to a search of all posts with that category.

Note 1: Becca needs to add a Wings Unfurled post

Note 2: There are only 3 items in the "books" category.

<h1>Short Stories</h1>

<ul>
{% for post in collections['short-stories'] | head(-5, true) %}
<li>
	<h2>{{ post.date | readableDate }}</h2>
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
</li>
{% endfor %}
</ul>

<p><a href="./short-stories/">See more...</a></p>

In a carousel, show featured images on most recent posts categorized as "short-stories". Fit 4-5 on the page and then include a "see more" link to a page that links to a search of all posts with that category.

<h1>Anthologies</h1>
<ul>
{% for post in collections.anthologies | head(-5, true) %}
<li>
	<h2>{{ post.date | readableDate }}</h2>
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
</li>
{% endfor %}
</ul>

<p><a href="./anthologies/">See more...</a></p>

In a carousel, show featured images on most recent posts categorized as "anthologies". Fit 4-5 on the page and then include a "see more" link to a page that links to a search of all posts with that category.
