---
title: "Short Stories"
layout: layouts/page.njk
---

<h1>Short Stories</h1>
<ul>
{% for post in collections["short-stories"] | head(-100, true) %}
<li>
	<h2>{{ post.date | eventTime }}</h2>
	<h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
	<h4>{{ post.data.location }}</h4></li>
{% endfor %}
</ul>
