---
title: "Short Stories"
layout: layouts/page.njk
---

<h1 class="section-header">Short Stories</h1>
<ul class="image-item">
{% for post in collections['short-stories-info'] | head(-100, true) %}
<li>
	{% image post.data.coverImage, post.data.title, [200] %}
	<p><a href="{{ post.url }}">{{ post.data.title }}</a></p>
	<p><strong>{{ post.data.publication }}</strong></p>
	<p>{{ post.date | publicationDate }}</p>
</li>
{% endfor %}
</ul>

