---
layout: layouts/home.njk
eleventyNavigation:
	key: Bars and Tasting Rooms
	order: 1
	numberOfLatestPostsToShow: 20
---

<section>
	<h1>Bars &amp; Tasting Rooms</h1>
	{% set postslist = collections.posts | filterByCommonCategories(['bars', 'tasting-rooms']) | head(-1 * numberOfLatestPostsToShow) %}
	{% include "postslist.njk" %}
</section>
