---
layout: layouts/home.njk
eleventyNavigation:
	key: Cities
	order: 1
numberOfLatestPostsToShow: 20
---

<section>
	<h1>Cities</h1>
	{% set postslist = collections.posts | filterByCommonTags(['hayward', 'oakland', 'san-francisco', 'berkeley']) | head(-1 * numberOfLatestPostsToShow) %}
	{% include "postslist.njk" %}
</section>
