---
layout: layouts/home.njk
eleventyNavigation:
	key: Cocktail Recipes
	order: 1
	numberOfLatestPostsToShow: 20
---

<section>
	<h1>Cocktail Recipes</h1>
	{% set postslist = collections.posts | filterByCommonTags(['cocktail-recipe', 'cocktail-recipes']) | head(-1 * numberOfLatestPostsToShow) %}
	{% include "postslist.njk" %}
</section>
